/* .navOptionsMobile {
    display: none;
} */

.logo h2 {
    font-size: 22px;
    font-weight: 600;
    color: #199BFF;
}
.nav{
        display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: white;
    color: black;
}
.hamburger {
  display: none;
}

.navActive{
    background: #E5F3FF;
    color: #199BFF;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.navOptionsMobile {
  display: none;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 60px; /* adjust based on nav height */
  right: 0;
  width: 100%;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 1000;
}   

.navOptionsMobile h4{
     padding: 0.5rem 1rem;
}



.footer {
    color: #fff!important;
    padding: 2rem;
    background: #111827;
}




.footerUpperAbout > h2 ,.footerUpperLinks > h3 , .footerUpperContact > h3{
    font-size: x-large;
    margin-bottom: 1rem;
}


.footerLower {
    text-align: center;
}

.Hr {
    border-top: 1px solid #42424252;
}


@media only screen and (min-width:700px){
    .navOptions {
    display: flex;
    gap: 2rem;
    align-items: center;

    
}
 
 
.navbutton{
        background: #199BFF;
    padding: 0.5rem 1.5rem;
    border-radius: 9px;
    color: white;
}

.footerUpper {
        display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
        line-height: 1.75rem;

}

}



@media only screen and (max-width:700px){

    .navbuttonDiv ,.navOptions {
        display: none;
    }
    .nav{
    padding: 1rem;
  
}

.hamburger {
    display: block;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
  }

   .navOptionsMobile {
    display: flex;
  }
.footerUpper {
        display: grid;
    grid-template-columns: 100%;
    justify-items: start;
        line-height: 1.75rem;
        row-gap: 1.5rem;

}



}