.whyChooseUsAll{
   
    background: white;
}
.whyChooseUsBanner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6FBFF;
    color: black;
    padding: 5rem 8rem;
}

.whyChooseUsBannerHeading{
    font-size: 62px;
    font-weight: 700;
    color: black;
    line-height: 100%;

}
.whyChooseUsBannerHeadingBlue{
    color: #068FD3;
}





.whyChooseUsBanner p{
        width: 50%;
    font-size: large;
    text-align: center;
    margin: 1rem;
}


.whyChooseUsNumber {
    display: flex;
    gap: 7rem;
    align-items: center;
    text-align: center;
    background: white;
    width: 100%;
    padding: 4rem 7rem;
    justify-content: center;

}

.whyChooseUsNumber h4{
    color: #0998DB;
    font-size: 50px;
    line-height: 100%;
    font-weight: 600;
}


.whyChooseUsNumber p{
    color: #4b5563;
    font-size: 18px;
}


.Differentiators {
    background:#F9FAFB;
}

.DifferentiatorsHeading {
    text-align: center;
    padding-top: 3rem;
}

.DifferentiatorsHeading h3{
    font-size: 45px;
    color: black;
    font-weight: 600;
}

.DifferentiatorsHeading p{
    color: #4b5563;
    font-size: 18px;
}


.DifferentiatorsCardImg svg{

    --tw-text-opacity: 1;
    color: rgb(2 132 199 / var(--tw-text-opacity, 1));
}

.DifferentiatorsCardImg {
    --tw-bg-opacity: 1;
    background-color: rgb(224 242 254 / var(--tw-bg-opacity, 1));
    padding: 1rem;
    border-radius: 10px;
    width: fit-content;
}

.DifferentiatorsCard h5{
    color: black;
    font-weight: 600;
    font-size: 22px;
}

.DifferentiatorsCard p{
    color: #4b5563;

    font-size: 18px;
}

.DifferentiatorsCard{
    background: white;
    box-shadow:  0px 3px 12px 0px #ccc;
    padding: 2rem;
    border-radius: 10px;

}



.certificationsCard h4{
    font-weight: 600;
    color: black;
    font-size: 18px;
}

.certificationsCardImg{
        --tw-bg-opacity: 1;
    background-color: rgb(2 132 199 / var(--tw-bg-opacity, 1));
    width: max-content;
    padding: 1rem;
    border-radius: 100%;
}

.certificationsCard{
        background: #F0F9FF;
        border-radius: 10px;
        border: 1px solid #d3ecfc;
        padding: 2rem 5rem;
            width: -webkit-fill-available;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
}



.priorityLeft h3{

    font-size: 30px;
    font-weight: 600;
    color: white;
}
.priorityLeft {
        display: flex
;
    flex-direction: column;
    gap: 1.5rem;
}

.priorityLeft p {
    color: #E7F5FC;
    font-size: 18px;
}

.priorityLeft ul {
    list-style-type:disc ;
    color: #E7F5FC;
    font-size: 18px;
    margin-left: 1rem;
}

.priorityRightBox h5{
    color: white;
    font-size: 26px;
    font-weight: 600;

}

.priorityRightBox  p {
 color: #E7F5FC;
    font-size: 18px;
}

.priorityRightBox{
    background: #21A0DC;
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    display: flex
;
    flex-direction: column;
    gap: 1.5rem;
}

.priority {
    display: grid;
    grid-template-columns: 45% 45%;
    background: #0894D7;
    padding: 5rem 7rem;
    gap: 10%;
    align-items: center;


}


@media only screen and (min-width:700px){
    
.DifferentiatorsCards {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding: 4rem 7rem;
    gap: 2rem;
    justify-content: center;
}
   .certificationsCards {
    display: grid ;
    grid-template-columns: auto auto auto;
    gap: 2rem;
        justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 3rem 7rem;
}
    
}


@media only screen and (max-width:700px){

    .whyChooseUsNumber {
        display: grid;
        grid-template-columns: auto auto;
        padding: 2rem;
        gap: 2rem;
    }
 

    
.DifferentiatorsCards {
    display: grid;
    grid-template-columns: 100%;
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
}

.certificationsCards {
    display: grid ;
    grid-template-columns: 100%;
    gap: 2rem;
        justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.certificationsCard {
    padding: 2rem 0;
} 


.priority {
    
    grid-template-columns: 100%;
    padding: 2rem;
    gap: 2rem;


}

.priorityRightBox {
    padding: 1rem;
}

.whyChooseUsBanner {
    padding: 2rem;
}

.whyChooseUsBannerHeading {
    font-size: 43px;
    text-align: center;
}

.whyChooseUsBanner p {
    width: 100%;
}

.whyChooseUsNumber h4{
    font-size: 40px;

}
.whyChooseUsNumber p{
    font-size: 16px;
}

.DifferentiatorsHeading h3{ 
    font-size: 30px;
    line-height: normal;
    margin-bottom: 0.7rem;
}

}